<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wintec.degreemap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Manager_Password"></activity>
        <activity android:name=".Student_Pathway_Database" />
        <activity android:name=".Student_Pathway_Software" />
        <activity android:name=".Student_Pathway_Web" />
        <activity android:name=".Student_Pathway_Network" />
        <activity
            android:name=".Manager_Home"
            android:label="Manager"
            android:parentActivityName=".ui.shared.RoleSelectionActivity" />
        <activity
            android:name=".Student_Home"
            android:label="Student"
            android:parentActivityName=".ui.shared.RoleSelectionActivity" />
        <activity android:name=".ui.shared.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.shared.RoleSelectionActivity"
            android:label="Role Selection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>